@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Jost", sans-serif;
}

#blinking-button {

  border: 0px solid #64c6de;
}

@keyframes blink {

  0%,
  100% {
    background-color: #988142;
  }

  50% {
    background-color: #64c6de;
  }
}

#blinking-button {
  background-color: #64c6de;
  color: white;
  animation: blink 1s linear infinite;
}

/* .mainsection {
  height: 87vh;
} */

.buttonparent {
  bottom: 3rem;
  left: 0;
}

.logo img {
  height: 80px;
}

.headerimg img {
  height: 30px !important;
}

.mainsection img {
  height: 30px;
  border-radius: 50%;
}

@media (min-width:768px) {
  .mainsection {
    background-image: url("./assets/legal99.png");
    background-size: 100% 100%;
    height: 100%;
    min-height: 800px;
    /* background-position: 100% 100%; */
    background-repeat: no-repeat;
  }

}


@media (max-width:768px) {
  .mainsection {
    background-image: url("./assets/mobile-banner.jpg");
    background-size: 100% 100%;
    min-height: 84.45vh;
    /* background-position: 100% 100%; */
    background-repeat: no-repeat;
  }

  .mainsection a,
  .navbar a {
    font-size: 14px;
  }

  .mainsection img,
  .headerimg img {
    height: 30px !important;

  }

  .logo img {
    height: 50px !important;
  }

}