@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Jost", sans-serif;
}

#blinking-button {

  border: 0px solid #64c6de;
}

@keyframes blink {

  0%,
  100% {
    background-color: #988142;
  }

  50% {
    background-color: #64c6de;
  }
}

#blinking-button {
  background-color: #64c6de;
  color: white;
  animation: blink 1s linear infinite;
}

.mainsection {
  height: 87vh;
}

.whatsappicon {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.telegramicon {
  position: absolute;

  bottom: 20px;
  left: 20px;
}